<!-- HTML About page with two columns that displays an image on the left and brief bio on the right -->
<br />
<br />
<h1>Who We Are</h1>
<div fxLayout="row wrap">
  <br /><br />
  <div fxFlex>
    <div fxLayout="column" class="about-page">
      <div class="image">
        <img src="../../../assets/postits.jpg" alt="A man with post-its stuck all over him." >
        <figcaption><a href="https://unsplash.com/photos/mlVbMbxfWI4" target="_blank" >Source</a></figcaption>
      </div>
    </div>
  </div>
  <div fxFlex class="about">
    <p>We know what it's like to feel swamped under a mountain of tasks.  The more things you need to accomplish, the harder they become to manage and something inevitably falls through the cracks.  That's why we created our online Task Manager application.  Designed to help you manage your busy life, this application is accessible from anywhere and is simple to use.  Simply create a new task, move it to done when the task has been completed and delete it when it's no longer relevant.  It's that simple.  We here are passionate about helping you keep your life running smoothly.  Our team believes that keeping track of your priorities should be simple and we've created this application with that goal in mind.  </p>
  </div>
</div>

